.App {
  position: relative;
  text-align: center;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.App-video {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: auto;
  min-height: 100%;
  object-fit: cover;
}

.App-video-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
}

.App-toggle-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 100%;
  font-size: 40vmin;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  z-index: 100;
}

.App-toggle-play::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
}

.App-toggle-play:focus-visible {
  outline: none;
}

.App-toggle-play.playing {
  transition: opacity 0.5s ease;
  opacity: 0;
}

@media (hover: hover) {
  .App-toggle-play.playing:hover {
    opacity: 1;
  }
}

@media (hover: none) {
  .App-toggle-play.playing:active {
    opacity: 1;
  }
}

.App-spectrums {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.App-input-range {
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(100vw - 10px);
  transform: translateX(-50%);
  z-index: 1;
}
